.profile{
   
    .card-title{
        padding-bottom: 18px;
    }
    .card-body{
        background: #F6F2EC;
        padding: 45px;
        margin-bottom: 60px;
    }
    .button-group{
        margin-top: 38px;

        a{
            margin-right: 24px;
        }
    }
}